html,body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1366px;
    height: 100%;
    /*max-width: 1366px;*/
    /*max-height: 800px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    margin: 0 auto;
    flex-direction: column;
    /*background-color: lightgray;*/
}

.custom {
    margin: 10px;
    padding: 5px;
    font-size: 20px;
}

label {
    /*font-size: 14px;*/
    font-weight: 400;
    line-height: 20px;
    margin-left: 20px;
}

select {
    font: 400 14px/1.4em "Segoe UI","Open Sans",Calibri,Candara,Arial,sans-serif;
    width: 220px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #bbb;
    /*font-size: 14px;*/
    /*font-weight: 600;*/
}

#editor {
    width: 1200px;
    height: 600px;
    /*min-width: 1200px;*/
    /*min-height: 600px;*/
    border: 1px solid grey
}

.result {
    width: 1200px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    resize: none;
}

.operation {
    margin-bottom: 10px;
}

.compile {
    width: 80px;
    height: 40px;
    font-size: 17px;
    margin-right: 20px;
    border: 1px solid rgb(29, 145, 66);
    color: white;
    background-color: rgb(29, 145, 66);
}

.run {
    width: 80px;
    height: 40px;
    font-size: 17px;
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: white;
}